Xft.dpi:       96

Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background:        #222D31
XTerm*foreground:        #d8d8d8
XTerm*pointerColor:      #1ABB9B
XTerm*faceName:          Fixed
XTerm*faceSize:          11
XTerm*reverseVideo:      on
XTerm*selectToClipboard: true
xterm*metaSendsEscape: true

*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085


!Xcursor.theme: FossaCursors
Xcursor.size: 16


!URxvt.font:                       xft:Noto Sans Mono:size=12
!URxvt.font:                       9x15,xft:TerminessTTFNerdFontMono
!URxvt.font:                       xft:mononoki Nerd Font:size=11
!URxvt.font:                       xft:Inconsolata Nerd Font Mono:size=12
!URxvt.font:                       xft:Sauce CodePro Nerd Font Mono
URxvt.font:                       xft:MesloLGS Nerd Font Mono:size=10
!URxvt.font:                       xft:FonFont Awesome 5 Brands Regular:size=10


URxvt.depth:                      32
URxvt.internalBorder:             40
URxvt.background:                 [100]#151515
!URxvt.background: rgba:1111/1111/1111/dddd
!URxvt*blurRadius:                 50
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*background:                 black
URxvt*foreground:                 grey
URxvt*saveLines:                  5000

!TRANSPARENCY
!URxvt*inheritPixmap:            true
!URxvt*transparent:              true
!URxvt*shading:                  80

URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
!URxvt.keysym.C-Down:  resize-font:smaller
!URxvt.keysym.C-Up:    resize-font:bigger
URxvt.keysym.C-comma:  resize-font:smaller
URxvt.keysym.C-period:    resize-font:bigger

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

Xcursor.theme:FossaCursors
